@import 'colors';

button,
.button {
  align-content: center;
  background: $green;
  border: 0;
  border-radius: 6px;
  box-shadow: 3px 3px 3px $shadow;
  color: white;
  cursor: pointer;
  display: flex;
  height: 40px;
  line-height: 24px;
  justify-content: center;
  min-width: 40px;
  outline: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  transition: transform 0.1s ease, filter 0.2s ease;

  &:hover {
    transform: scale(1.05);

    svg,
    img {
      transform: scale(1.1);
    }
  }

  &:active {
    filter: brightness(0.98);
    transform: scale(1);

    svg,
    img {
      transform: scale(0.95);
    }
  }

  svg,
  img,
  span {
    transition: transform 0.1s ease, opacity 0.2s ease;
  }
}

.button[disabled="true"],
button[disabled] {
  cursor: default;
  pointer-events: none;
  transform: scale(1);

  svg,
  img,
  span {
    opacity: 0.3;
    transform: scale(1);
  }
}

button[disabled] {
  filter: saturate(0.5);
}

.button[disabled="true"] {
  background-color: $brown;
  opacity: 0.5;
}