@import '../../scss/colors';

:host {
  align-items: center;
  background: $dark-brown;
  box-shadow: 10px, 10px, 20px, $shadow;
  display: flex;
  height: 100%;
  justify-content: center;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.modal {
  background: url('../../../assets/info/info-background.png');
  background-position: center top;
  background-size: cover;
  border-radius: 3px;
  max-width: 400px;
  text-align: center;
  padding: 60px;
  width: 100%;
}

h2 {
  color: $dark-brown;
}

p,
h3 {
  color: $brown;
  margin-bottom: 24px;
}

.stars {
  display: flex;
  justify-content: center;
  margin: 24px 0;
  width: 100%;

  .star {
    height: 50px;
    width: 50px;

    &:nth-child(2) svg {
      animation-delay: 0.2s;
    }

    &:nth-child(3) svg {
      animation-delay: 0.4s;
    }

    svg {
      stroke-width: 3px;
    }
  }
}
