@import '../../scss/colors';
@import '../../scss/mixins';

:host {
  @include full-screen;
  background: $dark-brown;
}

.stars {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
  width: 100%;

  .star {
    height: 50px;
    width: 50px;

    &:nth-child(2) svg {
      animation-delay: 0.2s;
    }

    &:nth-child(3) svg {
      animation-delay: 0.4s;
    }

    svg {
      stroke-width: 3px;
    }
  }
}
