<div *ngIf="popUpContent | async as popup" class="modal">
    <h2>
      {{ popup.title }}
      <span *ngIf="popup.type == popUpTypes.WELCOME && (currentLevel | async) as level">
        {{ level }}
      </span>
    </h2>
    <p>{{ popup.copy }}</p>

    <ng-container *ngIf="currentLevel | async as level">
      <button (click)="restart(level)" *ngIf="popup.type == popUpTypes.GAME_OVER">
        {{ popup.buttonText }}
      </button>
    </ng-container>

    <button (click)="start()" *ngIf="popup.type == popUpTypes.WELCOME">
      {{ popup.buttonText }}
    </button>
    
    <ng-container *ngIf="popup.type == popUpTypes.LEVEL_COMPLETE">
      <div class="stars" *ngIf="(stars | async) as totalStars">
        <span class="star" *ngFor="let star of [1,2,3]">
          <svg [class.shown]="totalStars.levelStars >= star">
            <use href="assets/icons.svg#star" />
          </svg>
        </span>
      </div>
      <button (click)="backToMenu()">
          {{ popup.buttonText }}
      </button>
    </ng-container>
</div>
