@import '../../scss/colors';

:host {
  background: $dark-brown;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.stars {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
  width: 100%;

  .star {
    height: 50px;
    width: 50px;

    &:nth-child(2) svg {
      animation-delay: 0.2s;
    }

    &:nth-child(3) svg {
      animation-delay: 0.4s;
    }

    svg {
      stroke-width: 3px;
    }
  }
}
