<div class="tabs">
  <button (click)="exit()">
    <svg>
      <use href="assets/icons.svg#exit" />
    </svg>
  </button>
  <button (click)="restart()">
    <svg>
      <use href="assets/icons.svg#restart" />
    </svg>
  </button>
</div>

<section>
  <div class="left">
    <div class="top">
      <!-- <p class="level">Level {{levelId}}</p> -->
      <div>
        <svg>
          <use href="assets/icons.svg#moves" />
        </svg>
        <h4>
          {{ movesLeft | async }}
        </h4>
      </div>
    </div>
    <div class="bottom">
      <div class="stars">
        <span class="star" *ngFor="let i of [1,2,3]">
          <svg [class.shown]="(numberOfStars | async) >= i">
            <use href="assets/icons.svg#star" />
          </svg>
        </span>
      </div>
      <div class="bar">
        <span
          class="fill"
          [style.width.px]="fillWidth | async"
        ></span>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="wood">
      <div>
        <svg>
          <use href="assets/icons.svg#wood" />
        </svg>
        <p>
          x{{ wood | async }}
        </p>
      </div>
    </div>
    <div class="buttons">
      <button [disabled]="(possibleBenches | async) === 0" (click)="makeBench()">
        <img src="assets/info/bench.png" alt="bench" />
        <span>{{ possibleBenches | async }}</span>
      </button>
    </div>
  </div>
</section>
