@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import './app/scss/box';
@import './app/scss/buttons';
@import './app/scss/colors';
@import './app/scss/stars';

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

body {
  background-color: $dark-brown;
  color: white;
  margin: 0;
}

h1, h2, h3, h4, p {
  line-height: 1em;
  margin: 0;
}

p {
  font-size: 18px;
}

h2 {
  font-size: 32px;
  margin-bottom: 18px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 40px;
}
